@{
    ViewBag.Title = "HomePage";
}
@section scripts{
    <script src="~/Scripts/passData.js"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="jumbotron" style="background-image:url('../Images/diamonds.png');background-repeat:repeat-x;">
    @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites
        and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.neSt" class="btn btn-primary btn-lg">Learn more &raquo;</a>
        </p>*@
    <h2 style="color:white">Real-Diamond</h2>
    @*<h2>Miya-Technologies Ltd.</h2>*@
    <p style="color:white">The diametrically diamond you want</p>
</div>

<div class="jumbotron">
    <h3 class="text-success text-left">Wellcome!!</h3>
    <div class="col-md-4">
        <p><a class="btn btn-success" href='@Url.Action("LogOn","Companies")'>Login      &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-success" href='@Url.Action("Create","Companies")'>Get Started    &raquo;</a></p>
    </div>
</div>
<div id="google_translate_element"></div>
